
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome To Course Allocation System</h1>

<hr />

<div class="row">
    <div class="col-md-4 col-4"><a asp-action="GenerateMapping" class="btn btn-primary">Generate Course Allocation</a></div>
    <div class="offset-4 col-md-4 col-4"><a asp-action="HistoryofMapping" class="btn btn-primary">Record of Course Allocation</a></div>
</div>