@{
    Layout = "_Mapping";
}

<br/>
<br/>


<h1 class="text-danger">Access Denied</h1>

<br />
<br/>

<h3>Contact your Administrator</h3>

<br/>
<br/>

<h5>Go Back Home <a asp-controller="Home" asp-action="Index">Click Here</a> </h5> 