@model MappingLectureCourse.Models.MappingViewModel.ResearchArea

@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-md-12">
        <h3>Update Research Area</h3>
    </div>
</div>
<h3 class="text-danger">@ViewData["Exist"] </h3>
<hr />

<div class="row">
    <div class="col-md-4"><a asp-action="Index" class="btn btn-primary">View List Of Research Area</a></div>
</div>

<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResearchAreaID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select hidden asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update Research Area" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
