@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (User.IsInRole("Admin"))
{
    <div class="row pb-3">
        <div class="col-12">
            <a class="btn btn-dark" asp-controller="Home" asp-action="Welcome">Home</a>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-12">
            <a class="btn btn-dark" asp-controller="Department" asp-action="Index">Department</a>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-12">
            <a class="btn btn-dark" asp-controller="Session" asp-action="Index">Session</a>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-12">
            <a class="btn btn-dark" asp-controller="Users" asp-action="Index">Users</a>
        </div>
    </div>
}
else
{
    <div class="row pb-3">
        <div class="col-12">
            <a class="btn btn-dark" asp-controller="Home" asp-action="Welcome">Home</a>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-12">
            <a class="btn btn-dark" asp-controller="Mapping" asp-action="Index">Generate</a>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-12">
            <a class="btn btn-dark" asp-controller="Course" asp-action="Index">Course</a>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-12">
            <a class="btn btn-dark" asp-controller="Lecture" asp-action="Index">Lecture</a>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-12">
            <a class="btn btn-dark" asp-controller="ResearchArea" asp-action="Index">Research Area</a>
        </div>
    </div>
}